body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  background-image: url("https://images.unsplash.com/photo-1714171056889-d3b00389b93b?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDMxfHx8ZW58MHx8fHx8");
 background-size: cover;
  min-height: 100vh;
  /* background: linear-gradient(to right, #301954, #312e81, #240e46); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.form,
.ticket {
  background-color: #1b103a;
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.form-subtitle {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="file"] {
  width: 100%;
  padding: 0.5rem;
  background-color: #232142;
  border: none;
  border-radius: 0.3rem;
  color: white;
}

.submit-button {
  width: 100%;
  background-color: #ee863b;
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #fb5801;
}

.ticket-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.ticket-message {
  margin-bottom: 1rem;
}

.highlight {
  color: #f97316;
}

.ticket-card {
  background-color: #251a27;
  padding: 1rem;
  border-radius: 0.5rem;
  display: inline-block;
}

.profile {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 4px solid orangered;
  margin-bottom: 0.5rem;
}

.event-name {
  font-weight: bold;
}

.user-name {
  margin-top: 0.5rem;
}

.user-handle {
  font-size: 0.85rem;
  color: #d1d5db;
}
